<div class="wrapper">
	{{navigation}}  
	
	{{#if @blog.navigation}}
		<div class="menu-btn">
			<div class="material-burger">
			    <span></span>
			</div>
		</div>
	{{/if}}

	{{#if @blog.logo}}
		<a href="http://www.sponsoredbythesun.org">
		    <img class="blog-logo" {{#if @blog.navigation}} style="margin-left: 0px;" {{/if}} src="{{@blog.logo}}" alt="{{@blog.title}}" />
		</a>
	{{else}}
		<h2 class="blog-title" {{#if @blog.navigation}} style="margin-left: 0px;" {{/if}}><a href="{{@blog.url}}">{{@blog.title}}</a></h2>
	{{/if}}
		<a class="slider-toggle slider-toggle-top slider-toggle-top-xs visible-xs-inline" href="#">Get sponsored now!</a>
</div>

<div id="slider" class="bg-black">
	<button class="button slider-toggle" href="#">X</button>
	<h3 class="section-heading w">Get Sponsored Now!</h3>
	<div>
		<form action="http://sponsoredbythesun.createsend.com/t/i/s/iykuq/" method="post" class="sideform">
			<p>
				<label for="fieldName">Name</label>
				<br />
				<input id="fieldName" name="cm-name" type="text" />
			</p>
			<p>
				<label for="fieldEmail">Email * required</label>
				<br />
				<input class="fieldEmail" name="cm-iykuq-iykuq" type="email" required />
			</p>
			<p>
				<label for="fieldildiky">T-Shirt Size</label>
				<br />
				<select id="fieldildiky" name="cm-fo-ildiky">
					<option value=""></option>
					<option value="417608">Small</option>
					<option value="417609">Medium</option>
					<option value="417610">Large</option>
					<option value="417611">X-Large</option>
				</select>
			</p>
			<p>
				<label for="fieldildikj">Gender</label>
				<br />
				<select id="fieldildikj" name="cm-fo-ildikj">
					<option value=""></option>
					<option value="417612">Female</option>
					<option value="417613">Male</option>
				</select>
			</p>
			<p>
				<label for="fieldildikk">Stickers</label>
				<br />
				<select id="fieldildikk" name="cm-fo-ildikk">
					<option value=""></option>
					<option value="417614">Yes</option>
					<option value="417615">No</option>
				</select>
			</p>
			<p>
				<label for="fieldildihh">Mailing Address</label>
				<br />
				<input id="fieldildihh" name="cm-f-ildihh" type="text" />
			</p>
			<p>
				<label for="fieldildihk">City&#x2F;Town</label>
				<br />
				<input id="fieldildihk" name="cm-f-ildihk" type="text" />
			</p>
			<p>
				<label for="fieldildihu">State</label>
				<br />
				<select id="fieldildihu" name="cm-fo-ildihu">
					<option value=""></option>
					<option value="417306">Alabama</option>
					<option value="417307">Alaska</option>
					<option value="417308">Arizona</option>
					<option value="417309">Arkansas</option>
					<option value="417310">California</option>
					<option value="417311">Colorado</option>
					<option value="417312">Connecticut</option>
					<option value="417313">Delaware</option>
					<option value="417314">District of Columbia</option>
					<option value="417315">Florida</option>
					<option value="417316">Georgia</option>
					<option value="417317">Hawaii</option>
					<option value="417318">Idaho</option>
					<option value="417319">Illinois</option>
					<option value="417320">Indiana</option>
					<option value="417321">Iowa</option>
					<option value="417322">Kansas</option>
					<option value="417323">Kentucky</option>
					<option value="417324">Louisiana</option>
					<option value="417325">Maine</option>
					<option value="417326">Maryland</option>
					<option value="417327">Massachusetts</option>
					<option value="417328">Michigan</option>
					<option value="417329">Minnesota</option>
					<option value="417330">Mississippi</option>
					<option value="417331">Missouri</option>
					<option value="417332">Montana</option>
					<option value="417333">Nebraska</option>
					<option value="417334">Nevada</option>
					<option value="417335">New Hampshire</option>
					<option value="417336">New Jersey</option>
					<option value="417337">New Mexico</option>
					<option value="417338">New York</option>
					<option value="417339">North Carolina</option>
					<option value="417340">North Dakota</option>
					<option value="417341">Ohio</option>
					<option value="417342">Oklahoma</option>
					<option value="417343">Oregon</option>
					<option value="417344">Pennsylvania</option>
					<option value="417345">Rhode Island</option>
					<option value="417346">South Carolina</option>
					<option value="417347">South Dakota</option>
					<option value="417348">Tennessee</option>
					<option value="417349">Texas</option>
					<option value="417350">Utah</option>
					<option value="417351">Vermont</option>
					<option value="417352">Virginia</option>
					<option value="417353">Washington</option>
					<option value="417354">West Virginia</option>
					<option value="417355">Wisconsin</option>
					<option value="417356">Wyoming</option>
				</select>
			</p>
			<p>
				<label for="fieldildikl">ZIP (Post Code)</label>
				<br />
				<input id="fieldildikl" name="cm-f-ildikl" type="text" />
			</p>
			<p>
				<label for="fieldildikr">Country</label>
				<br />
				<select id="fieldildikr" name="cm-fo-ildikr">
					<option value=""></option>
					<option value="417357">Afghanistan</option>
					<option value="417358">Albania</option>
					<option value="417359">Algeria</option>
					<option value="417360">American Samoa</option>
					<option value="417361">Andorra</option>
					<option value="417362">Angola</option>
					<option value="417363">Anguilla</option>
					<option value="417364">Antigua &amp; Barbuda</option>
					<option value="417365">Argentina</option>
					<option value="417366">Armenia</option>
					<option value="417367">Aruba</option>
					<option value="417368">Australia</option>
					<option value="417369">Austria</option>
					<option value="417370">Azerbaijan</option>
					<option value="417371">Azores</option>
					<option value="417372">Bahamas</option>
					<option value="417373">Bahrain</option>
					<option value="417374">Bangladesh</option>
					<option value="417375">Barbados</option>
					<option value="417376">Belarus</option>
					<option value="417377">Belgium</option>
					<option value="417378">Belize</option>
					<option value="417379">Benin</option>
					<option value="417380">Bermuda</option>
					<option value="417381">Bhutan</option>
					<option value="417382">Bolivia</option>
					<option value="417383">Bonaire</option>
					<option value="417384">Bosnia &amp; Herzegovina</option>
					<option value="417385">Botswana</option>
					<option value="417386">Brazil</option>
					<option value="417387">British Indian Ocean Ter</option>
					<option value="417388">Brunei</option>
					<option value="417389">Bulgaria</option>
					<option value="417390">Burkina Faso</option>
					<option value="417391">Burundi</option>
					<option value="417392">Cambodia</option>
					<option value="417393">Cameroon</option>
					<option value="417394">Canada</option>
					<option value="417395">Canary Islands</option>
					<option value="417396">Cape Verde</option>
					<option value="417397">Cayman Islands</option>
					<option value="417398">Central African Republic</option>
					<option value="417399">Chad</option>
					<option value="417400">Channel Islands</option>
					<option value="417401">Chile</option>
					<option value="417402">China</option>
					<option value="417403">Christmas Island</option>
					<option value="417404">Cocos Island</option>
					<option value="417405">Colombia</option>
					<option value="417406">Comoros</option>
					<option value="417407">Congo</option>
					<option value="417408">Congo Democratic Rep</option>
					<option value="417409">Cook Islands</option>
					<option value="417410">Costa Rica</option>
					<option value="417411">Cote D&#x27;Ivoire</option>
					<option value="417412">Croatia</option>
					<option value="417413">Cuba</option>
					<option value="417414">Curacao</option>
					<option value="417415">Cyprus</option>
					<option value="417416">Czech Republic</option>
					<option value="417417">Denmark</option>
					<option value="417418">Djibouti</option>
					<option value="417419">Dominica</option>
					<option value="417420">Dominican Republic</option>
					<option value="417421">East Timor</option>
					<option value="417422">Ecuador</option>
					<option value="417423">Egypt</option>
					<option value="417424">El Salvador</option>
					<option value="417425">Equatorial Guinea</option>
					<option value="417426">Eritrea</option>
					<option value="417427">Estonia</option>
					<option value="417428">Ethiopia</option>
					<option value="417429">Falkland Islands</option>
					<option value="417430">Faroe Islands</option>
					<option value="417431">Fiji</option>
					<option value="417432">Finland</option>
					<option value="417433">France</option>
					<option value="417434">French Guiana</option>
					<option value="417435">French Polynesia</option>
					<option value="417436">French Southern Ter</option>
					<option value="417437">Gabon</option>
					<option value="417438">Gambia</option>
					<option value="417439">Georgia</option>
					<option value="417440">Germany</option>
					<option value="417441">Ghana</option>
					<option value="417442">Gibraltar</option>
					<option value="417443">Great Britain</option>
					<option value="417444">Greece</option>
					<option value="417445">Greenland</option>
					<option value="417446">Grenada</option>
					<option value="417447">Guadeloupe</option>
					<option value="417448">Guam</option>
					<option value="417449">Guatemala</option>
					<option value="417450">Guernsey</option>
					<option value="417451">Guinea</option>
					<option value="417452">Guinea-Bissau</option>
					<option value="417453">Guyana</option>
					<option value="417454">Haiti</option>
					<option value="417455">Honduras</option>
					<option value="417456">Hong Kong</option>
					<option value="417457">Hungary</option>
					<option value="417458">Iceland</option>
					<option value="417459">India</option>
					<option value="417460">Indonesia</option>
					<option value="417461">Iran</option>
					<option value="417462">Iraq</option>
					<option value="417463">Ireland</option>
					<option value="417464">Isle of Man</option>
					<option value="417465">Israel</option>
					<option value="417466">Italy</option>
					<option value="417467">Jamaica</option>
					<option value="417468">Japan</option>
					<option value="417469">Jersey</option>
					<option value="417470">Jordan</option>
					<option value="417471">Kazakhstan</option>
					<option value="417472">Kenya</option>
					<option value="417473">Kiribati</option>
					<option value="417474">Korea North</option>
					<option value="417475">Korea South</option>
					<option value="417476">Kuwait</option>
					<option value="417477">Kyrgyzstan</option>
					<option value="417478">Laos</option>
					<option value="417479">Latvia</option>
					<option value="417480">Lebanon</option>
					<option value="417481">Lesotho</option>
					<option value="417482">Liberia</option>
					<option value="417483">Libya</option>
					<option value="417484">Liechtenstein</option>
					<option value="417485">Lithuania</option>
					<option value="417486">Luxembourg</option>
					<option value="417487">Macau</option>
					<option value="417488">Macedonia</option>
					<option value="417489">Madagascar</option>
					<option value="417490">Malawi</option>
					<option value="417491">Malaysia</option>
					<option value="417492">Maldives</option>
					<option value="417493">Mali</option>
					<option value="417494">Malta</option>
					<option value="417495">Marshall Islands</option>
					<option value="417496">Martinique</option>
					<option value="417497">Mauritania</option>
					<option value="417498">Mauritius</option>
					<option value="417499">Mayotte</option>
					<option value="417500">Mexico</option>
					<option value="417501">Midway Islands</option>
					<option value="417502">Moldova</option>
					<option value="417503">Monaco</option>
					<option value="417504">Mongolia</option>
					<option value="417505">Montenegro</option>
					<option value="417506">Montserrat</option>
					<option value="417507">Morocco</option>
					<option value="417508">Mozambique</option>
					<option value="417509">Myanmar</option>
					<option value="417510">Namibia</option>
					<option value="417511">Nauru</option>
					<option value="417512">Nepal</option>
					<option value="417513">Netherland Antilles</option>
					<option value="417514">Netherlands</option>
					<option value="417515">Nevis</option>
					<option value="417516">New Caledonia</option>
					<option value="417517">New Zealand</option>
					<option value="417518">Nicaragua</option>
					<option value="417519">Niger</option>
					<option value="417520">Nigeria</option>
					<option value="417521">Niue</option>
					<option value="417522">Norfolk Island</option>
					<option value="417523">Norway</option>
					<option value="417524">Oman</option>
					<option value="417525">Pakistan</option>
					<option value="417526">Palau Island</option>
					<option value="417527">Palestine</option>
					<option value="417528">Panama</option>
					<option value="417529">Papua New Guinea</option>
					<option value="417530">Paraguay</option>
					<option value="417531">Peru</option>
					<option value="417532">Philippines</option>
					<option value="417533">Pitcairn Island</option>
					<option value="417534">Poland</option>
					<option value="417535">Portugal</option>
					<option value="417536">Puerto Rico</option>
					<option value="417537">Qatar</option>
					<option value="417538">Reunion</option>
					<option value="417539">Romania</option>
					<option value="417540">Russia</option>
					<option value="417541">Rwanda</option>
					<option value="417542">Saipan</option>
					<option value="417543">Samoa</option>
					<option value="417544">Samoa American</option>
					<option value="417545">San Marino</option>
					<option value="417546">Sao Tome &amp; Principe</option>
					<option value="417547">Saudi Arabia</option>
					<option value="417548">Senegal</option>
					<option value="417549">Serbia</option>
					<option value="417550">Serbia &amp; Montenegro</option>
					<option value="417551">Seychelles</option>
					<option value="417552">Sierra Leone</option>
					<option value="417553">Singapore</option>
					<option value="417554">Slovakia</option>
					<option value="417555">Slovenia</option>
					<option value="417556">Solomon Islands</option>
					<option value="417557">Somalia</option>
					<option value="417558">South Africa</option>
					<option value="417559">South Sudan</option>
					<option value="417560">Spain</option>
					<option value="417561">Sri Lanka</option>
					<option value="417562">St Barthelemy</option>
					<option value="417563">St Eustatius</option>
					<option value="417564">St Helena</option>
					<option value="417565">St Kitts-Nevis</option>
					<option value="417566">St Lucia</option>
					<option value="417567">St Maarten</option>
					<option value="417568">St Pierre &amp; Miquelon</option>
					<option value="417569">St Vincent &amp; Grenadines</option>
					<option value="417570">Sudan</option>
					<option value="417571">Suriname</option>
					<option value="417572">Swaziland</option>
					<option value="417573">Sweden</option>
					<option value="417574">Switzerland</option>
					<option value="417575">Syria</option>
					<option value="417576">Tahiti</option>
					<option value="417577">Taiwan</option>
					<option value="417578">Tajikistan</option>
					<option value="417579">Tanzania</option>
					<option value="417580">Thailand</option>
					<option value="417581">Togo</option>
					<option value="417582">Tokelau</option>
					<option value="417583">Tonga</option>
					<option value="417584">Trinidad &amp; Tobago</option>
					<option value="417585">Tunisia</option>
					<option value="417586">Turkey</option>
					<option value="417587">Turkmenistan</option>
					<option value="417588">Turks &amp; Caicos Is</option>
					<option value="417589">Tuvalu</option>
					<option value="417590">Uganda</option>
					<option value="417591">Ukraine</option>
					<option value="417592">United Arab Emirates</option>
					<option value="417593">United Kingdom</option>
					<option value="417594">United States of America</option>
					<option value="417595">Uruguay</option>
					<option value="417596">Uzbekistan</option>
					<option value="417597">Vanuatu</option>
					<option value="417598">Vatican City State</option>
					<option value="417599">Venezuela</option>
					<option value="417600">Vietnam</option>
					<option value="417601">Virgin Islands (Brit)</option>
					<option value="417602">Virgin Islands (USA)</option>
					<option value="417603">Wake Island</option>
					<option value="417604">Wallis &amp; Futana Is</option>
					<option value="417605">Yemen</option>
					<option value="417606">Zambia</option>
					<option value="417607">Zimbabwe</option>
				</select>
			</p>
			<p>
				<button type="submit" class="button">SPONSOR ME!</button>
			</p>
		</form>
		<div class="free-tshirt header-content">
			<p>Are you sure you want to continue without claiming your free t-shirt and stickers?</p>
			<button type="button" rel="no" class="buttonb">NO, I DON'T WANT FREE STUFF</button> &nbsp; &nbsp; <button type="button" rel="yes" class="button">Yes, get my free t-shirt and stickers</button>
		</div>
	</div>
</div>
<div class="popup"></div>
